NET "color[7]" LOC = U7;
NET "color[6]" LOC = V7;
NET "color[5]" LOC = N7;
NET "color[4]" LOC = P8;
NET "color[3]" LOC = T6;
NET "color[2]" LOC = V6;
NET "color[1]" LOC = R7;
NET "color[0]" LOC = T7;
NET "hsync" LOC = N6;
NET "vsync" LOC = P7;
NET "CCLK" LOC = V10;
NET "craddr[25]" LOC = F15;
NET "craddr[24]" LOC = F16;
NET "craddr[23]" LOC = C17;
NET "craddr[22]" LOC = C18;
NET "craddr[21]" LOC = F14;
NET "craddr[20]" LOC = G14;
NET "craddr[19]" LOC = D17;
NET "craddr[18]" LOC = D18;
NET "craddr[17]" LOC = H12;
NET "craddr[16]" LOC = G13;
NET "craddr[15]" LOC = E16;
NET "craddr[14]" LOC = E18;
NET "craddr[13]" LOC = K12;
NET "craddr[12]" LOC = K13;
NET "craddr[11]" LOC = F17;
NET "craddr[10]" LOC = F18;
NET "craddr[9]" LOC = H13;
NET "craddr[8]" LOC = H14;
NET "craddr[7]" LOC = H15;
NET "craddr[6]" LOC = H16;
NET "craddr[5]" LOC = G16;
NET "craddr[4]" LOC = G18;
NET "craddr[3]" LOC = J16;
NET "craddr[2]" LOC = J18;
NET "craddr[1]" LOC = K17;
NET "craddr[0]" LOC = K18;
NET "crdata[15]" LOC = T8;
NET "crdata[14]" LOC = R8;
NET "crdata[13]" LOC = U10;
NET "crdata[12]" LOC = V13;
NET "crdata[11]" LOC = U13;
NET "crdata[10]" LOC = P12;
NET "crdata[9]" LOC = P6;
NET "crdata[8]" LOC = N5;
NET "crdata[7]" LOC = R5;
NET "crdata[6]" LOC = T3;
NET "crdata[5]" LOC = R3;
NET "crdata[4]" LOC = V5;
NET "crdata[3]" LOC = U5;
NET "crdata[2]" LOC = V14;
NET "crdata[1]" LOC = T14;
NET "crdata[0]" LOC = R13;
NET "ce" LOC = L15;
NET "oe" LOC = L18;
NET "we" LOC = M16;
NET "lb" LOC = K16;
NET "ub" LOC = K15;
NET "cre" LOC = M18;
NET "adv" LOC = H18;
NET "crclk" LOC = R10;
NET "crwait" LOC = V4;
NET "crwait" PULLDOWN;
NET "btn[0]" LOC = A8;
NET "btn[1]" LOC = C4;
NET "btn[2]" LOC = B8;
NET "btn[3]" LOC = D9;
NET "btn[4]" LOC = C9;
#NET "btn[4]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "switches[0]" LOC = T10;
NET "switches[1]" LOC = T9;
NET "switches[2]" LOC = V9;
NET "switches[3]" LOC = M8;
NET "switches[4]" LOC = N8;
NET "switches[5]" LOC = U8;
NET "switches[6]" LOC = V8;
NET "switches[7]" LOC = T5;
NET "led[0]" LOC = T11;
NET "led[1]" LOC = R11;
NET "led[2]" LOC = N11;
NET "led[3]" LOC = M11;
NET "led[4]" LOC = V15;
NET "led[5]" LOC = U15;
NET "led[6]" LOC = V16;
NET "led[7]" LOC = U16;

#NET "NESpulse" LOC = A2;
#NET "NESlatch" LOC = C6;
#NET "NESdata" LOC = A3;

## Pic USB-HID interface
#NET "PS2KeyboardData" LOC = "J13" | IOSTANDARD = "LVCMOS33";# | PULLUP;  #Bank = 1, Pin name = IO_L39P_M1A3,             Sch name = PIC-SDI1
#NET "PS2KeyboardClk"  LOC = "L12" | IOSTANDARD = "LVCMOS33";# | PULLUP;  #Bank = 1, Pin name = IO_L40P_GCLK11_M1A5,      Sch name = PIC-SCK1

#NET "ALE_OUT" LOC = F9;

#NET "adc_digital[0]" LOC = A9;
#NET "adc_digital[1]" LOC = C8;
#NET "adc_digital[2]" LOC = A7;
#NET "adc_digital[3]" LOC = A6;
#NET "adc_digital[4]" LOC = A5;
#NET "adc_digital[5]" LOC = A4;
#NET "adc_digital[6]" LOC = A3;
#NET "adc_digital[7]" LOC = C6;

#NET "adc_data1_OUT[0]"  LOC = U16;
#NET "adc_data1_OUT[1]"  LOC = V16;
#NET "adc_data1_OUT[2]"  LOC = U15;
#NET "adc_data1_OUT[3]"  LOC = V15;
#NET "adc_data2_OUT[0]"  LOC = M11;
#NET "adc_data2_OUT[1]"  LOC = N11;
#NET "adc_data2_OUT[2]"  LOC = R11;
#NET "adc_data2_OUT[3]"  LOC = T11;

# Hard wired on breadboard
// 0 for L/R and 1 for U/D
#NET "address_A_OUT" LOC = B2;
#Net "address_B_OUT"              LOC = D6; // Grounded on the board
#Net "address_C_OUT"              LOC = B3; // Grounded on the board

#NET "EOC_IN" LOC = A11;
#NET "Start" LOC = A10;
#NET "adc_clock" LOC = A2;

## 12 pin connectors
##JA
#NET "JA<0>"          LOC = "T12" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L19P,                           Sch name = JA1
NET "NESpulse"        LOC = "V12" | IOSTANDARD = "LVCMOS25" | CLOCK_DEDICATED_ROUTE = FALSE;   #Bank = 2, Pin name = IO_L19N,                           Sch name = JA2  
NET "NESlatch"        LOC = "N10" | IOSTANDARD = "LVCMOS25" | CLOCK_DEDICATED_ROUTE = FALSE;   #Bank = 2, Pin name = IO_L20P,                           Sch name = JA3
NET "NESdata"         LOC = "P11" | IOSTANDARD = "LVCMOS25"; # | CLOCK_DEDICATED_ROUTE = FALSE;   #Bank = 2, Pin name = IO_L20N,                           Sch name = JA4
#NET "JA<4>"          LOC = "M10" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L22P,                           Sch name = JA7
#NET "JA<5>"          LOC = "N9"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L22N,                           Sch name = JA8
#NET "JA<6>"          LOC = "U11" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L23P,                           Sch name = JA9
#NET "JA<7>"          LOC = "V11" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L23N,                           Sch name = JA10

##JB
#NET "JB<0>"          LOC = "K2"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L38P_M3DQ2,                     Sch name = JB1
#NET "NESpulse"        LOC = "V12" | IOSTANDARD = "LVCMOS25" | CLOCK_DEDICATED_ROUTE = FALSE;   #Bank = 3, Pin name = IO_L38N_M3DQ3,                     Sch name = JB2
#NET "NESpulse"        LOC = "V12" | IOSTANDARD = "LVCMOS25" | CLOCK_DEDICATED_ROUTE = FALSE;   #Bank = 3, Pin name = IO_L39P_M3LDQS,                    Sch name = JB3
#NET "NESdata"         LOC = "P11" | IOSTANDARD = "LVCMOS25";   #Bank = 3, Pin name = IO_L39N_M3LDQSN,                   Sch name = JB4
#NET "JB<4>"          LOC = "J3"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L40P_M3DQ6,                     Sch name = JB7
#NET "JB<5>"          LOC = "J1"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L40N_M3DQ7,                     Sch name = JB8
#NET "JB<6>"          LOC = "K3"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L42N_GCLK24_M3LDM,              Sch name = JB9
#NET "JB<7>"          LOC = "K5"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L43N_GCLK22_IRDY2_M3CASN,       Sch name = JB10

##JC
#NET "JC<0>"          LOC = "H3"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L44N_GCLK20_M3A6,               Sch name = JC1
#NET "JC<1>"          LOC = "L7"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L45P_M3A3,                      Sch name = JC2
#NET "JC<2>"          LOC = "K6"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L45N_M3ODT,                     Sch name = JC3
#NET "JC<3>"          LOC = "G3"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L46P_M3CLK,                     Sch name = JC4
#NET "JC<4>"          LOC = "G1"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L46N_M3CLKN,                    Sch name = JC7
#NET "JC<5>"          LOC = "J7"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L47P_M3A0,                      Sch name = JC8
#NET "JC<6>"          LOC = "J6"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L47N_M3A1,                      Sch name = JC9
#NET "JC<7>"          LOC = "F2"  | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L48P_M3BA0,                     Sch name = JC10

##JD, LX16 Die only
#NET "JD<0>"          LOC = "G11" | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L40P,                           Sch name = JD1
#NET "JD<1>"          LOC = "F10" | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L40N,                           Sch name = JD2
#NET "JD<2>"          LOC = "F11" | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L42P,                           Sch name = JD3
#NET "JD<3>"          LOC = "E11" | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L42N,                           Sch name = JD4
#NET "JD<4>"          LOC = "D12" | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L47P,                           Sch name = JD7
#NET "JD<5>"          LOC = "C12" | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L47N,                           Sch name = JD8
#NET "JD<6>"          LOC = "F12" | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L51P,                           Sch name = JD9
#NET "JD<7>"          LOC = "E12" | IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L51N,                           Sch name = JD10